.login-body{
    font-family:flex;
    font-size: 16px;
    height:100%    
}
.flexbox-row-center{
    display:flex;
    justify-content: center;    
}
.flexitem-margins-text{
    display:flex;
    margin:2px 5px 5px 5px;
    padding:'1px 1px 1px 1px';
    font-size: 20px;
}
.flexitem-margins-textbox{
    display:flex;
    margin:2px 5px 5px 5px;
    padding:'4px 4px 4px 4px';
}
.flexbutton{
    display:flex;
    margin:2px 5px 5px 5px;
    padding:7px 7px 7px 7px;
    background-color :orange;
    color : purple;
    font-weight: 600;
}
table{    
    margin : 20px;    
}
body{
    color: yellow;
    background-color: rgb(54, 2, 79);
}
.textbox{
    padding: 4px;
}
.header{
    margin-top: 2%;
    font-size: 60px;
    font-weight: 900;
    justify-content: center;    
    letter-spacing: 2px;
    height: 10%;    
}
.root{
    justify-content: center;
    margin-top: 2%;
    height: 60%;
}
.flex{
    display:flex;
}
.footer{
    flex-direction: row-reverse;
    height:10%;
}
th{
color:orange
}
td{
color:yellow
}
.pim-header{   
    font-family: 'Times New Roman';
    text-shadow: 2px 2px 1px red;
}